<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Common head elements will be injected here -->
    <title>{{pageTitle}}</title>
</head>
<body>
    <!-- Page-specific content goes here -->
    <div id="pageContent">
        <!-- This will be replaced with page-specific content -->
    </div>
    
    <!-- Common components -->
    <div id="infoPopupContainer"></div>
    <div id="scriptsContainer"></div>
    
    <!-- Load component loader first -->
    <script src="{{basePath}}components/loader.js"></script>
</body>
</html>